*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hi Melody', cursive;
    /* font-family: 'Quicksand', sans-serif; */
    scroll-behavior: smooth;
}

.container {
    width: 85%;
    margin: 0 auto;
}

#hero {
    width: 100%;
    height: 100vh;
    background:rgb(255, 219, 173);
    position: relative;
    /* background-image: url("main.png");
    background-size: cover;
    background-position: center; */
}

.nav-container {
    width: 100vw;
    height: 8.5em;
    position: fixed;
    background: rgba(255, 219, 173, 0);
    z-index: 1;
}

#hero .ducky {
    position: absolute;
    right: 6em;
    bottom: 4em;
    width: 30%;
    transform: scaleX(-1);
}

.overlay {
    position: absolute;
    top: 0;
    /* z-index: -1; */
    width: 100%;
    height: 100vh;
    background: url("images/stars.gif");
    filter: contrast(100);
    opacity: 0.8;
}

.navbar {
    /* background: royalblue; */
    font-size:  28px;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    width: 80%;
    left: 10%;
    /* margin: 0 auto; */
}

.navbar ul li{
    text-align: right;
    display: inline-block;
    padding: 2em 0 3em 0em;
    min-width: 5em;
    height: 2em;
    /* background-color: brown; */
}

.navbar ul li a{
    color: black;
    text-decoration: none;
}

.navbar ul li a:hover {
    font-weight: bold;
}

.name {
    color: rgb(0, 0, 0);
    font-family: 'Hi Melody', cursive;
    position: absolute;
    bottom: 0.6em;
    font-size: 128px;
}

#video {
    width: 100%;
    height: 65vw;
    min-height: 25em;
    color: white;
    background-color: rgb(248, 128, 128);
    padding-top: 5em;
    position: relative;
}

.wavy-overlay {
    position: absolute;
    top: 0;
    /* z-index: -1; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url("images/wavy.png");
    background-size: cover;
    opacity: 0.3;
}
/* 
.wavy-overlay img {
    opacity: 0.5;
} */

#video .sub-head {
    padding-bottom: 1em;
}

/* video wrapping trick from: https://stackoverflow.com/questions/27126956/embed-an-responsive-youtube-iframe-to-center-of-an-page */
/* .videowrapper { 
    float: none;
    clear: both;
    min-width: 40em;
    max-width: 90vh;
    position: relative;
    /* padding: 4em 0; */
    /* padding-bottom: 56.25%; */
    /* padding-top: 25px; */
    /* height: 30vw;
    margin: 0em auto; */
    /* max-width: 100%; */
/* }  */

/* .videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 500px;
} */

.videowrapper {
    float: none;
    clear: both;
    width: 70%;
    /* height: 80%; */
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    margin: 0 auto;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
}

.sub-head{
    font-family: 'Hi Melody', cursive;
    font-size: 108px;
    text-align: center;
}

#cast {
    padding: 6em 0;
    background: rgb(255, 219, 173);
}

#cast .container {
    width: 70%;
}

.cast-cartoons {
    width: 30%;
    min-width: 15em;
    margin: 0 auto;
}

.cast-cartoons img {
    width: 45%;
    margin-bottom: 3em;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 2em 0;
    transform: translate(0,0);
    transition: all 0.5s ease;
}

.img-container{
    width: 15em;
    height: 15em;
    border-radius: 20em;
    overflow: hidden;
}

/* .img-container:hover {
    border: 10px red solid;
} */

.description {
    max-width: 60%;
    min-width: 10em;
    font-size: 1.8em;
    font-style: italic;
    padding: 2em 2em;
}

.profile:nth-child(even) {
    flex-direction: row-reverse;
}

.profile:nth-child(1) .img-container{
    background: url("images/white bear.png");
    background-size: cover;
    transform: translate(0,0);
    transition: all 0.5s ease;
}

.profile:nth-child(2) .img-container {
    background: url("images/duck.png");
    background-size: cover;
}

.profile:nth-child(3) .img-container{
    background: url("images/brown bear.png");
    background-size: cover;
}

.profile:nth-child(4) .img-container{
    background: url("images/penguin.png");
    background-size: cover;
}

#about {
    width: 100%;
    text-align: center;
    background:rgb(248, 128, 128);
    padding: 4em 0;
    color: white;
    position: relative;
}

#about img {
    width: 50%;
    padding: 1.5em 0;
}

#about p {
    width: 40%;
    font-size: 1.5em;
    margin: 0 auto;
}

.heart-overlay {
    position: absolute;
    top: 0;
    /* z-index: -1; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url("images/hearts.png");
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

footer {
    background: black;
    height: 5vh;
    color: rgb(206, 206, 206);
    text-align: center;
    line-height: 2em;
    font-size: 1em;
}

@media screen and (max-width: 1200px){
    .navbar {
        font-size: 1em;
        justify-content: space-around;
        width: 90%;
        left: 5%;
    }

    .navbar ul li {
        text-align: center;
        min-width: 4em;
    }

    .nav-container {
        height: 5em;
        background: rgba(255, 219, 173, 0.7);;
    }

    .name {
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 6em;
    }

    .ducky {
        min-width: 10em;
    }

    .img-container{
        width: 100px;
        height: 100px;
        border-radius: 100px;
    }

    .description {
        font-size: 1.2em;
        width: 90%;
        padding: 2em;
    }

    .sub-head {
        font-size: 2em;
    }

    #about img {
        width: 80%;
    }

    #about p {
        width: 80%;
        font-size: 1em;
    }

    .heart-overlay {
        max-width: 20%;
        max-height: 20%;
        min-width: 20em;
        min-height: 10em;
        left: 50%;
        transform: translateX(-50%);
    }
}
